---
import Bootstrap from "../icons/Bootstrap.astro";
import CSS3 from "../icons/CSS3.astro";
import Express from "../icons/Express.astro";
import HTML5 from "../icons/HTML5.astro";
import Javascript from "../icons/Javascript.astro";
import React from "../icons/React.astro";
import Tailwind from "../icons/Tailwind.astro";
import PHP from "../icons/PHP.astro";
import PostgreSQL from "../icons/PostgreSQL.astro";
import Wordpress from "../icons/Wordpress.astro";
import ExperienceItem from "../ExperienceItem.astro";

const experience = [
  {
    title: "Desarrollador Front-End",
    company: "Silvera Enterprises - Jornada completa",
    companyLink: "https://www.silveraenterprises.com/",
    date: "Enero 2024 - Marzo 2024",
    description:
      "Encargado del desarrollo de paginas web mediante Custom templates de WordPress para clientes de la empresa permitiendo la personalizacion de los sitios web segun las necesidades del cliente.",
    aptitudes: [
      { label: "HTML", color: "orange", icon: HTML5 },
      { label: "CSS", color: "blue", icon: CSS3 },
      { label: "JavaScript", color: "yellow", icon: Javascript },
      { label: "Bootstrap", color: "purple", icon: Bootstrap },
      { label: "WordPress", color: "white", icon: Wordpress },
      { label: "PHP", color: "purple", icon: PHP },
    ],
  },
  {
    title: "Desarrolador Full-stack",
    company: "Inversiones la estrella trayvaleca - contrato de practica",
    companyLink: "",
    date: "Junio 2023 - Noviembre 2023",
    description:
      "Desarrollo de una aplicacion web para la gestion de inventario y ventas de la empresa, permitiendo el control de los productos y ventas de la empresa, ademas de la generacion de reportes de ventas y productos mas vendidos.",
    aptitudes: [
      { label: "HTML", color: "orange", icon: HTML5 },
      { label: "CSS", color: "blue", icon: CSS3 },
      { label: "JavaScript", color: "yellow", icon: Javascript },
      { label: "Express", color: "green", icon: Express },
      { label: "React", color: "cyan", icon: React },
      { label: "PostgreSQL", color: "white", icon: PostgreSQL },
      { label: "Tailwind", color: "cyan", icon: Tailwind },
    ],
  },
];
---

<section class="min-h-screen py-16">
  <div class="max-w-[800px] m-auto px-8 gap-8 flex flex-col gap-8m-auto">
    <h2 class="flex flex-row flex-nowrap items-center">
      <span class="flex-grow block border-t-2 border-emerald-800"></span>
      <span
        class="flex-none block mx-4 px-10 py-3 text-4xl rounded leading-none font-medium bg-emerald-800 text-white"
      >
        Experiencia
      </span>
      <span class="flex-grow block border-t-2 border-emerald-800"></span>
    </h2>
    <p class="text-lg text-center px-4 font-semibold text-gray-300">
      A lo largo de mi carrera profesional he tenido la oportunidad de trabajar
      en diferentes proyectos, tanto en el desarrollo de <span
        class="text-fuchsia-300 font-bold">aplicaciones web</span
      >
      como en el desarrollo de <span class="text-fuchsia-300">paginas web</span
      >, a continuación algunos de los proyectos en los que he trabajado.
    </p>
    <div class="px-4 mt-4">
      <ol class="relative border-s border-emerald-700">
        {
          experience.map((job) => (
            <li class="mb-10 ms-4">
              <ExperienceItem job={job} />
            </li>
          ))
        }
      </ol>
    </div>
  </div>
</section>
