---
import GitHub from "../icons/GitHub.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import Pills from "../Pills.astro";
import Mail from "../icons/Mail.astro";
---

<main class="min-h-screen bg-zinc-900">
  <div
    class="flex max-w-[800px] px-8 m-auto flex-col justify-center items-center h-screen"
  >
    <div class="flex flex-col gap-3 text-center">
      <h1 class="text-4xl text-emerald-400 font-bold text-center">
        Armando Diaz
      </h1>
      <p class="text-xl font-medium text-center text-zinc-200">
        <strong class="text-violet-300">Desarrollador Full Stack</strong>, con
        amplias habilidades y adaptacion en el desarrollo de
        <strong class="text-violet-300"> aplicaciones web</strong>.
      </p>
      <div class="flex mt-5 justify-center flex-row flex-wrap gap-3">
        <Pills
          link="https://github.com/adiazt01"
          label="GitHub"
          Icon={GitHub}
          color="black"
        />
        <Pills
          link="https://www.linkedin.com/"
          label="LinkedIn"
          Icon={LinkedIn}
          color="cyan"
        />
        <Pills
          link="mailto:armandodt2004@gmail.com"
          label="armandodt2004@gmail.com"
          Icon={Mail}
          color="purple"
        />
      </div>
      <div class="flex mt-5 justify-center flex-row">
        <a
          href="/curriculum.pdf"
          target="_blank"
          class="bg-violet-500 text-white font-bold py-2 px-4 hover:bg-violet-400 transition-colors duration-300 ease-in-out rounded-md shadow-md"
        >
          Descargar curriculum
          <i class="fa-solid fa-download ms-1"></i>
        </a>
      </div>
    </div>
  </div>
</main>
