---
import React from "../icons/React.astro";
import PillTechnology from "../PillTechnology.astro";
import MongoDB from "../icons/MongoDB.astro";
import Tailwind from "../icons/Tailwind.astro";
import HTML5 from "../icons/HTML5.astro";
import CSS3 from "../icons/CSS3.astro";
import Express from "../icons/Express.astro";
import Javascript from "../icons/Javascript.astro";
import Title from "../Title.astro";
import Content from "../Content.astro";
import ProjectCard from "../ProjectCard.astro";
import Blog from "../../assets/projects/blog.png";

const projects = [
  {
    title: "Blog app",
    description:
      "Mi aplicación web de blog personal en el cual escribo sobre tecnología y desarrollo web. Este proyecto me ayudo a aprender sobre el desarrollo de aplicaciones fullstack. cada articulo es escrito en markdown y se renderiza en la aplicación con react usando como base de datos MongoDB.",
    image: Blog,
    url: "https://blog-frontend-h0be.onrender.com/",
    github: "https://github.com/adiazt01/blog-frontend",
    technology: [
      {
        label: "HTML",
        color: "orange",
        icon: HTML5,
      },
      { label: "JavaScript", color: "yellow", icon: Javascript },
      {
        label: "React",
        color: "cyan",
        icon: React,
      },
      {
        label: "CSS",
        color: "blue",
        icon: CSS3,
      },
      {
        label: "Tailwind",
        color: "cyan",
        icon: Tailwind,
      },
      { label: "MongoDB", color: "green", icon: MongoDB },
      {
        label: "Express",
        color: "green",
        icon: Express,
      },
    ],
  },
];
---

<section
  class="min-h-screen py-16 flex relative flex-col justify-start items-center"
>
  <div class="max-w-[800px] m-auto px-8 flex gap-8 flex-col">
    <Title>Proyectos</Title>
    <Content>
      Conoce algunos de los proyectos que he realizado durante mi carrera
      profesional. La mayoría están hospedados en Render con su capa gratuita, por ello pueden tardar en cargar.
    </Content>
    <ul class="grid grid-cols-1 gap-8 mt-8">
      {
        projects.map((project) => (
          <li>
           <ProjectCard project={project} />
          </li>
        ))
      }
    </ul>
  </div>
</section>
