---
const links = [
    {
        href: 'home',
    }
]
---

<header
  class="top-0 py-4 bg-slate-900 border-b-2 border-b-zinc-500 flex w-full justify-center fixed"
>
  <ul class="flex flex-row gap-2">
    <li>
        <a href="#" class="text-white font-medium text-lg">Home</a>
    </li>
  </ul>
</header>
