<h2 class="flex flex-row items-center">
  <span class="flex-grow block border-t-2 border-emerald-800"></span>
  <span
    class="block mx-4 px-10 py-3 text-4xl rounded leading-none font-medium bg-emerald-800 text-white text-center"
  >
    <slot />
  </span>
  <span class="flex-grow block border-t-2 border-emerald-800"></span>
</h2>
